[submodule "RLJO/Royalline"]
	path = RLJO/Royalline
	url = git@github.com:RLJO/Royalline.git
	branch = New

[submodule "Royalline"]
	path = Royalline
	url = git@github.com:RLJO/Royalline.git
	branch = New
